<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Book ID</td>
                <td>Title</td>
                <td>Author</td>
                <td>Review</td>
            </tr>
        </thead>
        ${reviewsList.map(review =>
                `<tr>
                    <td>${review.book_id}</td>
                    <td><a href="/${review.title}/${review.review_id}">${review.title}</a></td>
                    <td>${review.author}</td>
                    <td>${review.content}</td>
                </tr>`
            ).join('')}
    </table>
</section>