<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Author</td>
                <td>Title</td>
            </tr>
        </thead>
        ${bookInfo.map(x =>
            `<tr>
                <td>${bookInfo[0].author}</td>
                <td>${bookInfo[0].title}</td>
            </tr>`).join('')}
    </table>
</section>

<section class="section">
    <table class="table">
        <thead>
            <tr>
                <td>Reviews</td>
            </tr>
        </thead>
        ${reviewsList.map(review =>
                `<tr>
                    <!-- <td><a href="/${review.book_id}">${review.title}</a></td> -->
                    <td><a href="">${review.content}</a></td>
                </tr>`
            ).join('')}
    </table>
</section>

<section class="section">
    <p><b>Post a Review</b></p>
    <form action="/books/${reviewsList[0].book_id}" method="POST">
            <label><b>P:</b>
                <input type="text" name="name" style="height:150px; width:500px;">
            </label>
        <div class="button">
            <button type="submit">Add Review</button>
        </div>
    </form>
</section>